* {
	margin: 0;
	padding: 0;
	border:0;
	box-sizing:border-box
}

// Clearfix
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
@white: rgba(255,255,255,1);

body {
	font-family:ralewey;
}

.image-header {
	background-image: url(../img/header-slider.jpg);
	.substrate {
		background: rgba(43,46,74,0.95);
		//opacity: .95;
	}
	header, .masthead {
		width: 80%;
		margin: 0 auto;
		color: @white;
	}
	.masthead {
		width: 50%;
	}
	header {
		overflow: hidden;
		height: 120px;
		border-bottom: 1px solid rgba(255,255,255,0.15);
		& > div, & > nav { display: inline-block}
		.logo {
			width: 50%;
			font: 700 30px / 120px OpenSans;
			color: rgba(255,255,255,0.30);
			span {
				font: 300 28px Raleway;
				//font-weight: 300;
				//font-family: Raleway;
				color: rgba(255,255,255,1);
				//font-size: 28px
			}
		}
		nav {
			width: 49%;
			text-align: right;
			ul {
				height: 18px;
				overflow: hidden;
				list-style-type: none;
				display: inline-block;
				li {
					display: inherit;
					padding-right: 45px;
					line-height: 120px;
					font: 700 13px Raleway;
					text-transform: uppercase;
					&:last-child {
						padding: 0;
					}
				}
			}
		}
	}
	.masthead {
		min-height: 648px;
		text-align: center;
		padding: 7% 0;
		box-sizing: border-box;
		h1 {
			font: bold 65px / 71px Open Sans;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
		p {
			font: 400 22px / 33px Raleway;
			margin: 40px 0 80px;
		}
		button {
			//margin: 80px 0;
			width: 200px;
			height: 45px;
			background: rgb(262,69,69);
			text-transform: uppercase;
			font: bold 13px / 21px Raleway;
			color:@white;
		}
	}
}
.features{
	font-size: 0px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 110px 0;
	.item-feature {
		margin: 0 45px 60px 45px;
		width: 300px;
		height: 195px;
		text-align: center;
		display: inline-block;
		overflow: hidden;
		.icon {
			width: 79px;
			height: 60px;
			margin: 0 auto;
			&.customused {
				background: url(../img/customize.png) 50% 50% no-repeat;
			}
			&.responsive{
				background: url(../img/responsive-ready.png) 50% 50% no-repeat;
			}
			&.design {
				background: url(../img/modern-disign.png) 50% 50% no-repeat;
			}
			&.code {
				background: url(../img/clean-code.png) 50% 50% no-repeat;
			}
			&.ship {
				background: url(../img/ready-ship.png) 50% 50% no-repeat;
			}
			&.download {
				background: url(../img/donwload.png) 50% 50% no-repeat;
			}
		}
		h2 {
			font: bold 14px Raleway;
			text-transform: uppercase;
			margin-top: 34px;
		}
		p {
			margin-top: 25px;
			font:400 14px / 21px Raleway;
			color:rgb(108, 114, 121);
		}
	}
}
.works {
	overflow: hidden;
	font-size: 0px;
	width: 100%;
	min-height: 702px;
	margin: 0.5px 0px;
	.item-work {
		display: inline-block;
		width:475px;
		height: 350px;
		margin: 0.5px;
		&:nth-child(1) {
			margin-left: 0px;
			overflow: hidden;
			background: url(../img/work-1.jpg) 0% 100% no-repeat;
		}
		&:nth-child(2) {
			overflow: hidden;
			background: url(../img/work-2.jpg) 0% 100% no-repeat;
		}
		&:nth-child(3) {
			overflow: hidden;
			background: url(../img/work-3.jpg) 0% 100% no-repeat;
		}
		&:nth-child(4) {
			overflow: hidden;
			background: url(../img/work-4.jpg) 0% 100% no-repeat;
		}
		&:nth-child(5) {
			overflow: hidden;
			background: url(../img/work-5.jpg) 0% 100% no-repeat;
		}
		&:nth-child(6) {
			overflow: hidden;
			background: url(../img/work-6.jpg) 0% 100% no-repeat;
		}
		&:nth-child(7) {
			overflow: hidden;
			background: url(../img/work-7.jpg) 0% 100% no-repeat;
		}
		&:nth-child(8) {
			overflow: hidden;
			background: url(../img/work-8.jpg) 0% 100% no-repeat;
		}
		& .substrate {
			text-align: center;
			height: 100%;
			width: 100%;
			color:@white;
			background: rgba(255,51,51,0.90);
			display: none;
			position: relative;
			div {
				position: absolute;
				left: 0;top:0;
				right: 0;bottom: 0;
				width: 150px;
				height:50px;
				margin: auto;
				h2 {
					font: 700 14px Raleway;
					text-transform: uppercase;
					margin-bottom: 13px;
				}
				p {
					font: 400 14px Raleway;
				}
			}
		}
		&:hover .substrate {
			display: block;
		}
		&:nth-child(4n) {
			margin-right: 0px;
		}
		&:nth-child(5n) {
			margin-left: 0px;
		}
	}
}
.team {
	padding: 89px 0 115px 0 ;
	margin: 0 auto;
	width: 80%;
	min-height: 811px;
	text-align: center;
	.person-team {
		height: 580px;
		width: 270px;
		margin: 15px;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		.img-team {
			width: 100%;
			height: 270px;
			&.ruth {
				background: url(../img/team/ruth.jpg) no-repeat;
			}
			&.timothy {
				background: url(../img/team/timothi.jpg) no-repeat;
			}
			&.victoria {
				background: url(../img/team/victoria.jpg) no-repeat;
			}
			&.beverly {
				background: url(../img/team/beverly.jpg) no-repeat;
			}
		}
		h4 {
			color: #2d3033;
			font: 400 22px Raleway;
			margin: 30px 0 15px 0;
		}
		h5 {
			color: #e84545;
			font: 400 13px Raleway;
			margin: 15px 0 30px 0;
			text-transform: uppercase;
		}
		p {
			color: #6c7279;
			font: 400 14px / 21px Raleway;
			height: 145px;
			overflow: hidden;
			margin-bottom: 23px;
		}
	}
}







footer {
	background-color: rgba(58,62,100,1);
	.up-footer {
		margin: 0 auto;
		font-size: 0px;
		height: 250px;
		width: 75%;
		padding: 71px 0;
		text-align: center;
		&>div {
			display: inline-block;
			vertical-align: top;
			width: 25%
		}
		h2 {
			font: 700 14px Raleway;
			color:@white;
			margin-bottom: 22px;
		}
		p {
			font: 400 14px / 22.5px Raleway;
			color: rgba(255, 255, 255, 0.5);
		}
		.activebox {
		}
	}
	.bottom-footer {
		height: 94px;
		background-color: rgba(49,52,84,1);
		text-align: center;
		padding: 25px 0;
		p {
			width: 312px;
			margin: 0 auto;
			font: 400 14px / 22.5px Raleway;
			color: #808080;
			span {
				color: @white;
			}
			.heart {
				background: url(../img/heart.png);
				width: 11px;
				height: 10px;
				display: inline-block;
			}
		}
	}
}

.share .social div {
	border-width: 2px;
	margin: 0 3.5px;
}
.social div{
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 2px;
}
	.facebook {
	background-image: url(../img/facebook.png);
	}
	.twitter {
	background-image: url(../img/twitter.png);
	}
	.instagram {
	background-image: url(../img/in.png);
	}
	.gray-facebook {
	background-image: url(../img/gray-facebook.png);
	}
	.gray-twitter {
	background-image: url(../img/gray-twitter.png);
	}
	.gray-instagram {
	background-image: url(../img/gray-in.png);
	}